<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="my-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <h3>Mi valor es [[prop2]]</h3>
    <div class="container">
      <div class="row">
        <img src="https://image.flaticon.com/icons/svg/1087/1087830.svg" class="col-lg-8 col-xs-12">
        <button class="btn-danger col-lg-4 col-xs-12" name="button" on-click="incrementar">Cargar Datos</button>
        <input type="text" placeholder="[[prop3]]" value="{{prop1::input}}">
        <table class="table table-striped col-lg-4 col-xs-12"
        <table>
        <thead>
          <th>
            Id
          </th>
          <th>
            Nombre
          </th>
          <th>
            Id
          </th>
        </thead>
        <tbody>
          <tr>
            <td>
              [[prop2]]
            </td>
            <td>
              [[prop1]]
            </td>
            <td>
              Fuentes
            </td>
          </tr>
          <tr>
            <td>
              2
            </td>
            <td>
              Luisillo
            </td>
            <td>
              El pillo
            </td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MyVisor extends Polymer.Element {
      static get is() { return 'my-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: ''
          },
          prop2: {
            type: Number,
            value: 999

          },
          prop3: {
            type: String,
            value: 'indique su loggin'
          }
        };
      }
      incrementar(){
        this.prop2 = this.prop2 + 1;
        console.log(this.prop1);
        console.log(this.prop2);
      }
    }

    window.customElements.define(MyVisor.is, MyVisor);
  </script>
</dom-module>
